@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100&family=Oswald&display=swap');
body{background: #040f13}
.study{padding: 10px; margin: 0px; display: flex; flex-wrap: wrap; justify-content: center;}
.study div{box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);height:12vh;width: 15vh; background-color: rgb(255, 255, 255); margin: 10px; border-radius: 5px;border: 3px solid;}
.study div:hover{background-color: black;color: white;cursor: pointer;}
.study h1{font-size: 3vh;line-height: 6vh;text-align: center;}
.study p{font-size: 2vh;}
.otr{color: white; margin: 0px; font-size: 6vh;}
