h1{font-size: 3vh;}
h2{font-size: 2vh; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: red;}
p{font-size: 2vh;color: blueviolet;}
body{justify-content: center; text-align: center;}